@blue: #000000;
@blue2: #009b00;
@yellow: #fae016;
@yellow2: #ffffff;
@white: #fefefe;

#menu-c .navbar,
#menu-c .nav-dropdown-sm {
  background: @blue;
  .link:hover {
    background: @blue !important;
  }
}

#menu-c .link:hover {
  color: @blue2;
}

a {
  color: @blue;

  &:hover, &:focus {
    color: @blue2;
  }
}

.bg-primary {
  background-color: @blue2 !important;
}

.text-primary {
  color: @blue2 !important;
}

.btn-primary {
  background-color: @blue2;
  border-color: @blue2;

  &:active,
  &:focus,
  &:hover {
    background-color: @blue2;
    border-color: @blue2;
  }

  &:hover {
    color: @yellow;
  }
}

.lead a, .lead a:hover {
  color: @blue2;
}

.mbr-iconfont-counters1,
.count,
.counter-title {
  color: @blue2;
}

.article dl dd {
  margin-left: 12em;
}

.mbr-footer {
  background-color: @blue;
  p, ul {
    a {
      color: @blue2;
    }
  }
  .mbr-contacts {
    li {
      &::before {
        background: @blue2;
      }
    }
  }
}

.mbr-footer-content {
  li {
    &::before {
      background: @blue2;
    }
  }
}

.extPricingTable1 {
  .bottom_line {
    border-bottom-color: @blue2;
  }
}

/* hide timezone from draws - not rock-solid */
.hidden-lg-down {
  display: none;
}

/* handle permit logos */

@logo-size: 36px;
@cell-padding: 12px;

.logo(@abbrev) {
  .logo {
    &.@{abbrev} {
      background-image: url('../../images/clubs/@{abbrev}.png');
    }
  }
}

.logo {
  background-size: @logo-size;
  background-position: @cell-padding center;
  background-repeat: no-repeat;

  a {
    padding-left: (@logo-size + @cell-padding);
  }
}

.row div.logo {
  height: 110px;
  background-size: 100px;
  background-position: 50% top;
}

.logo(CZE);
.logo(ENG);
.logo(EUR);
.logo(FRA);
.logo(GGY);
.logo(IRL);
.logo(JEY);
.logo(MET);
.logo(NED);
.logo(SCO);
.logo(SWE);
.logo(WAL);
