#menu-c .navbar,
#menu-c .nav-dropdown-sm {
  background: #000000;
}
#menu-c .navbar .link:hover,
#menu-c .nav-dropdown-sm .link:hover {
  background: #000000 !important;
}
#menu-c .link:hover {
  color: #009b00;
}
a {
  color: #000000;
}
a:hover,
a:focus {
  color: #009b00;
}
.bg-primary {
  background-color: #009b00 !important;
}
.text-primary {
  color: #009b00 !important;
}
.btn-primary {
  background-color: #009b00;
  border-color: #009b00;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #009b00;
  border-color: #009b00;
}
.btn-primary:hover {
  color: #fae016;
}
.lead a,
.lead a:hover {
  color: #009b00;
}
.mbr-iconfont-counters1,
.count,
.counter-title {
  color: #009b00;
}
.article dl dd {
  margin-left: 12em;
}
.mbr-footer {
  background-color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #009b00;
}
.mbr-footer .mbr-contacts li::before {
  background: #009b00;
}
.mbr-footer-content li::before {
  background: #009b00;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #009b00;
}
/* hide timezone from draws - not rock-solid */
.hidden-lg-down {
  display: none;
}
/* handle permit logos */
.logo {
  background-size: 36px;
  background-position: 12px center;
  background-repeat: no-repeat;
}
.logo a {
  padding-left: 48px;
}
.row div.logo {
  height: 110px;
  background-size: 100px;
  background-position: 50% top;
}
.logo.CZE {
  background-image: url('../../images/clubs/CZE.png');
}
.logo.ENG {
  background-image: url('../../images/clubs/ENG.png');
}
.logo.EUR {
  background-image: url('../../images/clubs/EUR.png');
}
.logo.FRA {
  background-image: url('../../images/clubs/FRA.png');
}
.logo.GGY {
  background-image: url('../../images/clubs/GGY.png');
}
.logo.IRL {
  background-image: url('../../images/clubs/IRL.png');
}
.logo.JEY {
  background-image: url('../../images/clubs/JEY.png');
}
.logo.MET {
  background-image: url('../../images/clubs/MET.png');
}
.logo.NED {
  background-image: url('../../images/clubs/NED.png');
}
.logo.SCO {
  background-image: url('../../images/clubs/SCO.png');
}
.logo.SWE {
  background-image: url('../../images/clubs/SWE.png');
}
.logo.WAL {
  background-image: url('../../images/clubs/WAL.png');
}
